div.body-content {
  min-width: 100%;
  min-height: 100%;
  transition: all .3s
}


div.theme-body-dark {
  background: rgb(107, 106, 106);
  color: #fff;
}

div.theme-body-light {
  background: #fff;
  color: black;
}

header.header {
  background: var(--blue);
  padding-top: 2rem;
  border-radius: 10px;
  border-bottom: 1px solid rgb(113, 1, 165);

  > div {
    max-width: 1120px;
    margin: 0 auto;

    padding: 2rem 2rem 12rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    button {
      position: absolute;
      right: 100px;
      background: none;
      border: none;

      color: var(--text-title);
      border-radius: 3px;

      svg {
        width: 30px; 
        height: 60px;
      }

      svg.dark-icon {
        color: #fff;
      }

      svg.light-icon {
        color: rgb(59, 59, 59);
      }
    }
  }
}
